.poster {
  position: relative;
}
.posterImage {
  height: 600px;
}
.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}
.posterImage_overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 0;
  transition: opacity ease-in 0.3s;
}
.posterImage_overlay:hover {
  opacity: 1;
}
.posterImage_title {
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 0.4rem;
  text-align: left;
}
.posterImage_runtime {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.posterImage_rating {
  margin-left: 3rem;
}
.posterImage_description {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 50%;
}
